body {
  margin: 0;
  background-color: #f9f9f9;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  /*text-align: center;*/
}
h1 {
  color: white;
  background-color: black;
  padding: 2px;
  padding-left: 6px;
}
h2 {
  color: #666;
  margin: 2px;
}

h1 > span, h2 > span {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 2px;
  padding: 5px;
}

#feed {
  /*blank by default*/
  opacity: 0;
  max-width: 800px;
  margin: 0 auto;
  opacity: 0.1;
}

#terminal {
  position: fixed;
  display: block;
  background-color: rgba(220, 220, 220, 0);
  width: 100%;
  height: 100%;
  z-index: 2;
  left: 0px;
  top: 0px;
  overflow: scroll;
  padding-left: 10px;
}

#terminal p {
  font-family: Hack, monospace;
  font-size: 10px;
  margin: 2px;
}

#terminal p b {
  color: orange;
}

#terminal p i {
  font-style: italic;
  font-style: bold;
}

#terminal p span {
  text-decoration: underline;
  color: green;
}
